.newpass-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.newpass-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.newpass-image {
    max-width: 100%;
    height: auto;
    max-height: 40vh;
}

.newpass-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.newpass-heading {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.newpass-subtext {
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 90%;
}

.newpass-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.newpass-input {
    width: 100%;
    max-width: 370px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.newpass-button {
    background: rgb(5, 196, 154);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 390px;
    font-size: 16px;
}

.newpass-success {
    color: green;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    max-width: 390px;
}

.newpass-error {
    color: red;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    max-width: 390px;
}

/* Password toggle styles */
.password-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 390px;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (min-width: 768px) {
    .newpass-container {
        flex-direction: row;
    }
    
    .newpass-left {
        width: 50%;
        height: 100vh;
        padding: 0;
    }
    
    .newpass-right {
        width: 50%;
        height: 100vh;
    }
    
    .newpass-image {
        max-height: 100%;
    }
    
    .newpass-heading {
        font-size: 28px;
    }
    
    .newpass-subtext {
        font-size: 16px;
    }
}