.newpass-container {
    display: flex;
    height: 99.5vh;
    width: 99.8vw;
}

.newpass-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newpass-image {
    max-width: 100%;
    height: auto;
}

.newpass-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.newpass-heading {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.newpass-subtext {
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.newpass-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 30vw;
}

.newpass-input {
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

.newpass-button {
    background: rgb(5, 196, 154);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 390px;
}

.newpass-success {
    color: green;
    margin-top: 10px;
    font-weight: 500;
}

.newpass-error {
    color: red;
    margin-top: 10px;
    font-weight: 500;
}

/* Password toggle styles */
.password-wrapper {
    position: relative;
    display: inline-block;
    width: 390px;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}